html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

#steps .tab-content {
  @extend .h-100, .flex-grow-1, .d-flex, .flex-column;
  .tab-pane {
    @extend .h-100, .my-2, .overflow-auto;
  }
}

.expandRow {
  @extend .table-active;
}
.expandRowContent {
  @extend .bg-light;
}

.rug-card {
  width: 100px;
  height: 100px;
}

@import 'react-loading-skeleton/dist/skeleton.css';
@import "node_modules/bootswatch/dist/minty/variables";
@import "node_modules/bootstrap/dist/css/bootstrap.min";
@import "node_modules/bootswatch/dist/minty/bootstrap.min";